openapi: 3.1.0
info:
  title: Boomin Partner Connect API
  version: 0.3.4
servers:
  - url: https://api.boomin.ai/v1/connect
paths:
  /auth/otp:
    post:
      summary: Request a creator email OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestOtpInput"
      responses:
        "200":
          description: OTP sent
          content:
            application/json:
              schema:
                type: object
                required: [success, sent]
                properties:
                  success:
                    type: boolean
                  sent:
                    type: boolean
                    description: Whether the OTP email was dispatched.
                  code:
                    type: string
                    description: Only returned when the Worker runs with debug auth codes enabled. Never present in production.
  /auth/verify:
    post:
      summary: Verify creator email OTP and enroll creator as pending
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOtpInput"
      responses:
        "200":
          description: Creator verified and pending in program
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorAuthResult"
  /join:
    post:
      summary: Join a program with a verified entity token or entity email
      description: >-
        Enrolls a entity as a program member and returns their public standing. Send a verified entity bearer
        token, or a entity email in the body. Referral-first programs use this without any social channel.
      security:
        - creatorBearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JoinInput"
      responses:
        "201":
          description: Member joined (or already present) with current standing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JoinResult"
        "401":
          description: No verified entity token or entity email was supplied
        "403":
          description: Origin is not allowed for this Partner Connect config
  /me:
    get:
      summary: Read the current verified creator
      security:
        - creatorBearerAuth: []
      parameters:
        - in: query
          name: publicKey
          required: true
          schema:
            type: string
        - in: query
          name: programId
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Current creator state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorAuthResult"
  /config:
    get:
      summary: Read public connect config
      parameters:
        - in: query
          name: publicKey
          required: true
          schema:
            type: string
        - in: query
          name: programId
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Public config
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectConfig"
  /sessions:
    post:
      summary: Create an Instagram connect session
      description: If a creator bearer token is supplied, the Worker links the session to that verified creator/member. If no token is supplied, the legacy direct-social flow is still supported.
      security:
        - creatorBearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publicKey, redirectUri]
              properties:
                publicKey:
                  type: string
                programId:
                  type: string
                redirectUri:
                  type: string
                  format: uri
                referralCode:
                  type: string
                requireCreator:
                  type: boolean
                  description: Require a verified creator bearer token before Instagram OAuth starts.
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectSession"
  /handoff:
    post:
      summary: Signed app-user handoff into Partner Connect
      description: Server-to-server endpoint for apps that already authenticate users. The customer server signs a stable JSON payload with its handoff secret; Boomin links the external user to a program member and returns an Instagram OAuth URL when needed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payload, signature]
              properties:
                payload:
                  $ref: "#/components/schemas/HandoffPayload"
                signature:
                  type: string
                  description: Base64url HMAC-SHA256 signature over stable JSON payload.
      responses:
        "200":
          description: Handoff accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HandoffResult"
        "401":
          description: Missing, expired, or invalid signature
        "403":
          description: Issuer, audience, program, or redirect URI is not allowed
        "409":
          description: Nonce has already been used
  /sessions/{sessionId}:
    get:
      summary: Read session status
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Session status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectStatus"
  /standing:
    post:
      summary: Read signed bulk member standing for an issuer
      description: >-
        Server-to-server endpoint. Sign a stable JSON payload with the program handoff signing secret to read
        standing for every member linked to the issuer, or for a single externalUserId when one is supplied.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StandingRequest"
      responses:
        "200":
          description: Standing snapshot for the matched members
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandingResult"
        "401":
          description: Missing, expired, or invalid signature
        "403":
          description: Issuer or audience is not allowed for this program
  /events:
    post:
      summary: Ingest a customer-side program metric event
      description: >-
        Server-to-server endpoint to send sales, usage, referrals, page views, or manual proof into Boomin.
        Sign the stable JSON body with the program handoff signing secret and send the issuer and signature
        headers. Retries that reuse the same event_id are deduplicated.
      parameters:
        - in: header
          name: X-Boomin-Issuer
          required: true
          schema:
            type: string
          description: Configured handoff issuer for this program.
        - in: header
          name: X-Boomin-Signature
          required: true
          schema:
            type: string
          description: Base64url HMAC-SHA256 over the stable JSON body. May be prefixed with "sha256=".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProgramMetricEventInput"
      responses:
        "201":
          description: Metric recorded. Returns 200 instead when the event_id was already seen (deduplicated).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PublicStanding"
                  - type: object
                    required: [success, duplicate]
                    properties:
                      success:
                        type: boolean
                      duplicate:
                        type: boolean
                      event:
                        type: object
                        additionalProperties: true
                      member:
                        type: object
                        additionalProperties: true
                      qualification:
                        type: object
                        nullable: true
                        additionalProperties: true
                      tier:
                        type: object
                        nullable: true
                        additionalProperties: true
        "401":
          description: Missing or invalid X-Boomin-Issuer / X-Boomin-Signature headers
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    creatorBearerAuth:
      type: http
      scheme: bearer
  schemas:
    RequestOtpInput:
      type: object
      required: [publicKey, email]
      properties:
        publicKey:
          type: string
        programId:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        referralCode:
          type: string
        metadata:
          type: object
          additionalProperties: true
    VerifyOtpInput:
      allOf:
        - $ref: "#/components/schemas/RequestOtpInput"
        - type: object
          required: [code]
          properties:
            code:
              type: string
    CreatorAuthResult:
      type: object
      required: [auth_token, creator, member, status]
      properties:
        success:
          type: boolean
        auth_token:
          type: string
        token:
          type: string
        creator:
          type: object
          additionalProperties: true
        user:
          type: object
          additionalProperties: true
        contact:
          type: object
          additionalProperties: true
        member:
          type: object
          additionalProperties: true
        status:
          type: string
          enum: [pending, approved, rejected]
    ConnectConfig:
      type: object
      required: [publicKey, programId, programName]
      properties:
        publicKey:
          type: string
        brandId:
          type: string
        programId:
          type: string
        programName:
          type: string
        brandName:
          type: string
        allowedModes:
          type: array
          items:
            type: string
            enum: [redirect, manual, popup]
        oauth:
          type: object
          properties:
            instagram:
              type: boolean
              description: Whether Instagram OAuth is configured for this Worker.
        requiredChannels:
          type: array
          items:
            type: string
          description: Channels a member must connect before approval. Empty for referral-first programs.
        defaultApprovalStatus:
          type: string
          enum: [pending, approved]
    ConnectSession:
      type: object
      required: [sessionId, authUrl, status]
      properties:
        sessionId:
          type: string
        state:
          type: string
          description: OAuth state value. In v0.3.3 this equals the durable session id.
        session_id:
          type: string
        authUrl:
          type: string
          format: uri
        auth_url:
          type: string
          format: uri
        status:
          $ref: "#/components/schemas/ConnectSessionStatus"
    HandoffPayload:
      type: object
      required: [iss, aud, iat, exp, nonce, publicKey, programId, redirectUri, externalUserId, email, name, metadata]
      properties:
        iss:
          type: string
        aud:
          type: string
          default: boomin.ai
        iat:
          type: integer
        exp:
          type: integer
        nonce:
          type: string
        publicKey:
          type: string
        programId:
          type: string
        redirectUri:
          type: string
          format: uri
        externalUserId:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        metadata:
          type: object
          additionalProperties: true
    HandoffResult:
      type: object
      required: [status, entityId, memberId, sessionId, state]
      properties:
        status:
          type: string
          enum: [needs_instagram, pending_approval, approved, rejected]
        entityId:
          type: string
        memberId:
          type: string
        sessionId:
          type: string
        state:
          type: string
        authUrl:
          type: string
          format: uri
          nullable: true
        member:
          type: object
          additionalProperties: true
        instagram:
          type: object
          nullable: true
          additionalProperties: true
    ConnectStatus:
      type: object
      required: [sessionId, session_id, status]
      description: >-
        Session status enriched with the member's public standing when the session is linked to a member.
        Standing fields are omitted for sessions that are not yet linked to a member.
      properties:
        sessionId:
          type: string
        session_id:
          type: string
        status:
          $ref: "#/components/schemas/PublicProgramStatus"
        rawStatus:
          $ref: "#/components/schemas/ConnectSessionStatus"
        programStatus:
          type: string
          nullable: true
          description: Member qualificationStatus when available.
        referral:
          $ref: "#/components/schemas/Referral"
        referralCode:
          type: string
          nullable: true
        referralLink:
          type: string
          nullable: true
        metrics:
          $ref: "#/components/schemas/Metrics"
        channelStatus:
          $ref: "#/components/schemas/ChannelStatus"
        approvalStatus:
          type: string
          enum: [pending, approved, rejected]
        qualificationStatus:
          type: string
          enum: [pending, qualified, not_qualified, grace]
        requiredChannels:
          type: array
          items:
            type: string
        missingChannels:
          type: array
          items:
            type: string
        requirements:
          type: array
          items:
            $ref: "#/components/schemas/RequirementProgress"
        rollups:
          type: array
          items:
            $ref: "#/components/schemas/Rollup"
        member:
          type: object
          nullable: true
          additionalProperties: true
        instagram:
          type: object
          nullable: true
          additionalProperties: true
        entityConnection:
          type: object
          nullable: true
          additionalProperties: true
        username:
          type: string
          nullable: true
        qualification:
          type: object
          nullable: true
          additionalProperties: true
        tier:
          type: object
          nullable: true
          additionalProperties: true
        errorCode:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true
    ConnectSessionStatus:
      type: string
      enum:
        - created
        - oauth_started
        - connected
        - pending_approval
        - approved
        - rejected
        - failed
    ProgramMetricEventInput:
      type: object
      required: [publicKey, event_id, entity_ref, metric_key, amount]
      properties:
        publicKey:
          type: string
        programId:
          type: string
          description: Optional. Disambiguates when one publicKey maps to multiple programs.
        event_id:
          type: string
          description: Customer idempotency key. Retries with the same event_id do not double count.
        event_type:
          type: string
          examples: [sale.created, view.recorded, discount.redeemed]
        entity_ref:
          type: string
          description: Program member id, referral code, external user id, or entity email.
        metric_key:
          type: string
          description: >-
            Canonical keys: followers, views, post_count, link_clicks, referral_count, gmv_cents, sales_count,
            product_usage_count, channel_connected, manual_approval. Custom keys are accepted; signups and
            signup_count are normalized to referral_count.
          examples: [sales_count, referral_count, link_clicks, gmv_cents]
        amount:
          type: integer
          description: Integer metric amount (for example a count, or cents for gmv_cents).
        currency:
          type: string
          examples: [usd]
        occurred_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    PublicProgramStatus:
      type: string
      description: Derived public status for a member in a program.
      enum: [joined, needs_instagram, needs_channel, pending_approval, approved, rejected, qualified, not_qualified, grace, failed]
    Referral:
      type: object
      required: [code, url, active]
      properties:
        code:
          type: string
          nullable: true
        url:
          type: string
        active:
          type: boolean
    Metrics:
      type: object
      description: Aggregated rollup totals. signups counts referral_count (signup aliases are normalized).
      properties:
        linkClicks:
          type: integer
        signups:
          type: integer
        sales:
          type: integer
        gmvCents:
          type: integer
        productUsage:
          type: integer
    ChannelStatus:
      type: object
      properties:
        required:
          type: array
          items:
            type: string
        connected:
          type: array
          items:
            type: string
        missing:
          type: array
          items:
            type: string
        instagram:
          type: string
          enum: [connected, required, optional]
    Rollup:
      type: object
      properties:
        metricKey:
          type: string
        windowKey:
          type: string
        total:
          type: number
        count:
          type: number
        maxValue:
          type: number
        lastValue:
          type: number
        updatedAt:
          type: string
          format: date-time
          nullable: true
    RequirementProgress:
      type: object
      properties:
        id:
          type: string
        scope:
          type: string
        scopeId:
          type: string
        metricKey:
          type: string
        operator:
          type: string
          enum: [gte, lte, eq, neq, exists]
        threshold:
          type: integer
          nullable: true
        windowDays:
          type: integer
          nullable: true
        required:
          type: boolean
        weight:
          type: integer
        status:
          type: string
          enum: [met, failed, pending]
    PublicStanding:
      type: object
      description: Canonical member standing block emitted by serializeMemberStanding.
      required: [status, referral, metrics, approvalStatus, qualificationStatus, requiredChannels, missingChannels, channelStatus, requirements, rollups]
      properties:
        status:
          $ref: "#/components/schemas/PublicProgramStatus"
        referral:
          $ref: "#/components/schemas/Referral"
        metrics:
          $ref: "#/components/schemas/Metrics"
        approvalStatus:
          type: string
          enum: [pending, approved, rejected]
        qualificationStatus:
          type: string
          enum: [pending, qualified, not_qualified, grace]
        requiredChannels:
          type: array
          items:
            type: string
        missingChannels:
          type: array
          items:
            type: string
        channelStatus:
          $ref: "#/components/schemas/ChannelStatus"
        requirements:
          type: array
          items:
            $ref: "#/components/schemas/RequirementProgress"
        rollups:
          type: array
          items:
            $ref: "#/components/schemas/Rollup"
    JoinInput:
      type: object
      required: [publicKey]
      properties:
        publicKey:
          type: string
        programId:
          type: string
        email:
          type: string
          format: email
          description: Required unless a verified entity bearer token is supplied.
        name:
          type: string
        phone:
          type: string
        referralCode:
          type: string
        metadata:
          type: object
          additionalProperties: true
    JoinResult:
      allOf:
        - $ref: "#/components/schemas/PublicStanding"
        - type: object
          properties:
            entity:
              type: object
              additionalProperties: true
            member:
              type: object
              additionalProperties: true
            referralCode:
              type: string
              nullable: true
            referralLink:
              type: string
            qualification:
              type: object
              nullable: true
              additionalProperties: true
            tier:
              type: object
              nullable: true
              additionalProperties: true
            instagram:
              type: object
              nullable: true
              additionalProperties: true
    StandingPayload:
      type: object
      required: [iss, aud, iat, exp, nonce, publicKey, programId]
      properties:
        iss:
          type: string
        aud:
          type: string
        iat:
          type: integer
        exp:
          type: integer
        nonce:
          type: string
        publicKey:
          type: string
        programId:
          type: string
        externalUserId:
          type: string
          description: Optional. Restricts the response to a single linked member.
    StandingRequest:
      type: object
      required: [payload, signature]
      properties:
        payload:
          $ref: "#/components/schemas/StandingPayload"
        signature:
          type: string
          description: Base64url HMAC-SHA256 signature over the stable JSON payload.
    StandingEntity:
      type: object
      properties:
        entity:
          type: object
          additionalProperties: true
        externalIdentity:
          type: object
          nullable: true
          additionalProperties: true
        member:
          type: object
          additionalProperties: true
        status:
          $ref: "#/components/schemas/PublicProgramStatus"
        referralCode:
          type: string
          nullable: true
        referralLink:
          type: string
        referral:
          $ref: "#/components/schemas/Referral"
        metrics:
          $ref: "#/components/schemas/Metrics"
        approvalStatus:
          type: string
          enum: [pending, approved, rejected]
        qualificationStatus:
          type: string
          enum: [pending, qualified, not_qualified, grace]
        requiredChannels:
          type: array
          items:
            type: string
        missingChannels:
          type: array
          items:
            type: string
        channelStatus:
          $ref: "#/components/schemas/ChannelStatus"
        instagram:
          type: object
          nullable: true
          additionalProperties: true
        entityConnection:
          type: object
          nullable: true
          additionalProperties: true
        tier:
          type: object
          nullable: true
          additionalProperties: true
        qualification:
          type: object
          nullable: true
          additionalProperties: true
        rollups:
          type: array
          items:
            $ref: "#/components/schemas/Rollup"
    StandingTotals:
      type: object
      properties:
        total:
          type: integer
        pending:
          type: integer
        approved:
          type: integer
        rejected:
          type: integer
        qualified:
          type: integer
        grace:
          type: integer
        notQualified:
          type: integer
        connected:
          type: integer
    StandingResult:
      type: object
      required: [programId, brandId, requiredChannels, entities, totals]
      properties:
        programId:
          type: string
        brandId:
          type: string
        requiredChannels:
          type: array
          items:
            type: string
        entities:
          type: array
          items:
            $ref: "#/components/schemas/StandingEntity"
        totals:
          $ref: "#/components/schemas/StandingTotals"
    OutboundWebhookEvent:
      type: object
      required: [event_id, event_type, payload]
      properties:
        event_id:
          type: string
        event_type:
          type: string
          enum:
            - creator.approved
            - campaign.assignment.created
            - program.metric.recorded
            - program.requirement.met
            - program.tier.changed
            - program.entitlement.unlocked
            - program.entitlement.revoked
        payload:
          type: object
          additionalProperties: true
